*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-wrapper {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-tasks {
    max-width: 1000px;
    width: 1000px;
    min-width: 360px;
}

.main-content-users {
    max-width: 800px;
    width: 800px;
    min-width: 360px;
}

.user-table-container {
      max-height: 300px;
      overflow-y: auto;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}